body{font-family:"微软雅黑";}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, div, input, video, sup, sub {
    margin: 0;
    padding: 0;
}
body {
    font: 14px/1.5 "\5FAE\8F6F\96C5\9ED1",arial;
    color: #353535;
    width: 100%;
    min-width: 1001px;
}
div {
    display: block;
}
h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}
i {
    font-style: normal;
}
ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color: #fff;
    text-decoration: none;
    outline: none;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
html {
	font-family: 'Open Sans', Helvetica, arial, sans-serif;
	}
/*顶部*/
#nav{
	width:100%;
	height:42px;
	border:1px solid #c9c9c9;
	position:relative;
}
#nav>ul{
	float:left;
	padding-left:200px;
}
#nav>ul li{
	float:left;
	line-height:42px;
}
#nav>ul>li:first-child{
	background:url("Images/ost-bg.png") no-repeat 0 -38px;
	width:220px;
	height:42px;
	position:relative;
	z-index:3;
}
#nav>ul>li:nth-child(2) img{
	padding-top:2px;
	position:relative;
	z-index:-1;
}
#nav_box img{
	position:absolute;
	top:-58px;
	left:-216px;
	display:none;
}
#nav>ul>li:nth-child(2):hover #nav_box img{
	display:block;
	z-index:2;
}
/*头部*/
#head:after{
	content:"";
	display:block;
	clear:both;
}
#head{
	width:100%;height:1124px;
	background:url("Images/bg20160626.png") no-repeat 50% 0;
	position:relative;
}
.box{
	display:block;
	position:relative;
    top: 30px;
    left: 30px;
    width: 155px;
    height: 55px;
    background:url("Images/spr-h.png") no-repeat 100% 0;
}
#head>#hezi{
	position:absolute;
	top:375px;
	left:875px;
	overflow:hidden;
}
#head>#btn{
	position:absolute;
	top:450px;
	left:300px;
}
#head>#btn span{
	float:left;
	margin-right:10px;
	width:255px;
	height:100px;
	background:#2fc3a3 url("Images/gmk.png") no-repeat 50% 100%;
	position:relative;
	z-index:0;
}
#head>#btn span i{
	position:absolute;
	top:0px;
	padding-left:255px;
	padding-top:100px;
	background:#ff7f24;
	opacity:0.7;
	z-index:-1;
}
#head>#btn span sup{
	position:absolute;
	top:0px;
	left:179px;
	background:url("Images/spr-h.png") no-repeat -740px -60px;
	width:78px;
	height:78px;
}
#head>#btn span a{
	display:block;
	width:100%;
	height:100%;
	color:#fff;
	font-weight:bold;
	font-size:26px;
	line-height:90px;
	text-align:center;
}
#head>#btn span .biao{
	position:absolute;
	top:60px;
	left:93px;
	opacity:0.2;
	color:#000;
	font-size:1px;
	font-family:"宋体";
	
}
#head>#btn span .biao1{
	position:absolute;
	top:60px;
	left:100px;
	opacity:0.2;
	color:#000;
	font-size:1px;
	font-family:"宋体";
}
#zhan{
	position:absolute;
	top:600px;
	left:200px;
}
#zhan>div{
	float:left;
	margin-right:20px;
}
#container { width:312px;
	height:280px;
	overflow: hidden; 
    position: relative;}
#list { width:1872px; 
		height:280px; 
		position: absolute; 
		z-index:1;}
#list img { float: left;}
#buttons { position: absolute;height: 10px; width: 100px; z-index: 2; bottom: 20px; left: 215px;}
#buttons span { cursor: pointer; float: left; border: 1px solid #fff; width: 15px; height: 15px; 
				 border-radius: 50%; background: #9B9B9B; margin-right: 5px;transition:all 0.35s;}
#buttons .on {background: #02B8A9;width:25px;border-radius: 40%}
.arrow { cursor: pointer; display: none; line-height: 39px; text-align: center; font-size: 36px; 
		font-weight: bold; width: 40px; height: 40px;  position: absolute; z-index: 2; top: 180px; 
		background-color: RGBA(0,0,0,.3); color: #fff;}
#zhilan{
	position:absolute;
	top:900px;
	left:200px;
}
#zhilan>ul li{
	float:left;
	margin-right:15px;
	background:#1C1C1C;
	position:relative;
	height:105px;
}
#zhilan>ul li a:hover{
	border-bottom:5px solid #CFAE69;
}
#zhilan>ul>li a{
	display:block;
	width:233px;
	height:100px;
	line-height:60px;
}
#zhilan>ul>li>a b{
	display:inline-block;
	padding-left:25px;
	font-size:24px;
	color:#CFAE69;
	text-align:left;
}
#zhilan>ul>li span{
	position:absolute;
	top:20px;
	left:26px;
	color:#aaa;
	font-size:14px;
}
#zhilan>ul>li i{
	display:block;
	background:url("Images/spr-h.png") no-repeat 0 -345px;
	width:41px;
	height:40px;
	position:absolute;
	top:35px;
	left:165px;
}
#zhilan>ul>li:nth-child(2) i{
	background-position:-256px -345px;
}
#zhilan>ul>li:nth-child(3) i{
	background-position:-511px -345px;
}
#zhilan>ul>li:nth-child(4) i{
	background-position:-767px -345px;
}
#zhilan>ul>li s{
	display:block;
	background:url("Images/spr-h.png") no-repeat -799px -257px;
	width:18px;
	height:18px;
	position:absolute;
	top:65px;
	left:25px;
}
/*主体*/
#sec{
	background:url("Images/bg2-20160419.jpg") no-repeat 50% 0;
	height:514px;
	width:100%;
}
#sec:after{
	content:"";
	display:block;
	clear:both;
}
#sec>div{
	width:1000px;
	height:514px;
	margin:0 auto;
}
#sec>div:before{
	content:"";
	display:table;
}
#biaoti{
	margin-top:50px;
}
#biaoti span{
	color:#DFE5E4;
	font-size:20px;
}
#biaoti>h1 span{
	font-size:42px;
	color:#2FC3A3;
}
#biaoti>h1{
	font-size:42px;
}
#neirong{
	position:relative;
	background:url("Images/shendao.jpg") no-repeat;
	height:291px;
	width:1000px;
	margin-top:50px;
}
#neirong li{
	float:left;
}
#neirong li>a{
	display:inline-block;
	width:200px;
	height:291px;
	position:relative;
}
#neirong li>a i{
	display:block;
	background:url("Images/numberspr.png") no-repeat;
	height:54px;
	width:54px;
	position:absolute;
	top:70px;
	left:75px;
}
#neirong li:nth-child(2) a i{
	background-position:-54px 0;
}
#neirong li:nth-child(3) a i{
	background-position:-108px 0;
}
#neirong li:nth-child(4) a i{
	background-position:-162px 0;
}
#neirong li:nth-child(5) a i{
	background-position:-216px 0;
}
#neirong li>a h2{
	position:relative;
	margin-top:130px;
	margin-left:55px;
	color:#fff;
	z-index:1px;
}
#neirong li>a p{
	position:relative;
	display:block;
	text-align:center;
	color:#fff;
	margin-top:10px;
	margin-left:65px;
	font-size:12px;
	width:80px;
	height:24px;
	background:#2FC3A3;
	line-height:24px;
	border-radius:12px;
	z-index:1px;
}
#neirong li>a:hover p{
	background:#000;
}
#neirong li>a.btn-6{
	text-transform:uppercase;
	overflow: hidden;
	}
#neirong li>a.btn-6 span {
	position: absolute;
	width: 0;
	height: 0;
	border-radius: 50%;
	background:#3ed2b2;
	opacity:0.8;
	-webkit-transform: translate(-50%, -50%);
	-webkit-transition: width 0.4s, height 0.4s;
}
#neirong li>a.btn-6:hover span {
		width: 800px;
		height: 800px;
	}
/****八荒******/
.backdrop{
  width:100%;
  height:603px;
  background:url(images/bg-2.jpg) no-repeat 50% 100%;
}

.part,#content{
    position: relative;
}

#contain{
  height:553px;
}

#contain h2{
  padding:50px 0 0;
  font: 14px/1.5 "\5FAE\8F6F\96C5\9ED1",arial;
}

.backdrop h2 {
    color: #fff;
}

.part #contain h2 {
    margin: 0 0 50px;
    font-size: 40px;
    line-height: 110%;
}

#contain{
  position:relative;
  width:1000px;
  margin:0 auto;
  text-align: left;
  overflow:hidden;
}

.backdrop h2 .eng{
    color: #363839;
}

.part h2 .eng{
    display: block;
    font-size: 20px;
    font-weight: normal;
    font-family: tahoma,helvetica,arial,sans-serif;
    line-height: 100%;
}

.backdrop h2 .spc-color{
    color: #cfae69;
}
.accordion{
      width:1000px;
	  position:relative;
	  top:50px;
    }
.accordion:after{
      content:"";
      display:block;
      clear:both;
    }
.accordion>div{
      float:left;
      height:500px;
    }
.accordion>.title{
	  background:url(Images/uts-8.jpg) no-repeat;
	  height:350px;
      width:63px;
	  position:relative;
	  z-index:1;
    }
.accordion>.a2{
	  background:url(Images/uts-1.jpg) no-repeat;
}
.accordion>.a3{
	  background:url(Images/uts-2.jpg) no-repeat;
}
.accordion>.a4{
	  background:url(Images/uts-3.jpg) no-repeat;
}
.accordion>.a5{
	  background:url(Images/uts-4.jpg) no-repeat;
}
.accordion>.a6{
	  background:url(Images/uts-5.jpg) no-repeat;
}
.accordion>.a7{
	  background:url(Images/uts-6.jpg) no-repeat;
}
.accordion>.a8{
	  background:url(Images/uts-7.jpg) no-repeat;
}
.accordion>.content{
      display:none;
	  background:url("Images/bg-uts.jpg") no-repeat;
	  position:relative;
	  z-index:1px;
    }
.accordion>.content img{
	position:relative;
	top:-72px;
	width:559px;
}
.accordion>.content div.renwu{
	position:absolute;
	top:25px;
	left:50px;
	overflow:hidden;
}
.accordion>.content div.renwu h1{
	color:#cfae69;
	display:block;
	width:239px;
	height:84px;
	font-size:65px;
}
.accordion>.content div.renwu p.s1{
	color:#2fc3a2;
	font-size:14px;
}
.accordion>.content div.renwu p.nan s{
	display: inline-block;
    margin: 0 5px 0 2px;
    width: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    border: 1px solid #75797c;
    -webkit-transform: rotateZ(45deg);
}
.accordion>.content div.renwu p.nan s.has{
	 background-color: #ff8f17;
    border-color: #e2821a;
}
.accordion>.content div.renwu a{
	display: inline-block;
    background: #cfae69;
    font-size: 13px;
    border-radius: 15px;
    padding: 0 15px;
    line-height: 28px;
	width:70px;
	height:28px;
	text-align:center;
	margin-top:10px;
}
.accordion>.content div.renwu h6{
	margin-top:10px;
	font-size:16px;
	color:#fff;
}
.accordion>.content div.renwu span{
	color:#b7b7b7;
	font-size:10px;
}
.accordion>.content div.renwu h1 i{
	position:absolute;
	top:20px;
	left:135px;
	display:block;
	background:url("Images/spr-2.png") no-repeat -301px -27px;
	width:38px;
	height:38px;
}
.accordion>.content div.renwu h1 i.sub1{
	background-position:-259px -27px;
}
.accordion>.content div.renwu h1 i.sub2{
	background-position:-216px -27px;
}
.accordion>.content div.renwu h1 i.sub3{
	background-position:-173px -27px;
}
.accordion>.content div.renwu h1 i.sub4{
	background-position:-130px -27px;
}
.accordion>.content div.renwu h1 i.sub5{
	background-position:0 -27px;
}
.accordion>.content div.renwu h1 i.sub6{
	background-position:-86px -27px;
}
.accordion>.content div.renwu h1 i.sub7{
	background-position:-45px -27px;
}
.other {
    background:url(images/p-3.jpg) no-repeat 50% 100%;
}
#downNav {
    padding: 40px 0 0;
    width: 100%;
    margin-left: 0;
}

#downNav {
    position: relative;
    overflow: hidden;
}

#downNav .dnetbut, #downNav .dndlbut {
    width: 495px;
    height: 137px;
    line-height: 137px;
    background-position: 0 -278px;
    font-size: 40px;
    text-indent: 85px;
}

#downNav .dnetbut {
    background-color: #2fc3a3;
    margin: 0 10px 0 0;
}

#downNav .dndlbut {
    background-color: #cfae69;
}

#downNav .dnetbut:hover {
    background-color: #3FC8AA;
}

#downNav .dndlbut:hover {
    background-color: #D3B475;
}

.but {
    position: relative;
    display: block;
    float: left;
    text-align: center;
}

.spr-c {
    background-image: url(images/spr-c.png);
}

.spr-h, .spr-1, .spr-2, .spr-c, .spr-ly {
    background-repeat: no-repeat;
}

.but .clk {
    position: relative;
    display: block;
    width: 100%;
    color: #fff;
    height: 100%;
    font-weight: bold;
    overflow: hidden;
    z-index: 1;
}

.but {
    position: relative;
    display: block;
    float: left;
    text-align: center;
}

.part .container {
    padding: 50px 0 0;
}

#downNav .dnetbut .pretag {
    background-position: 4px 0;
}

#downNav .pretag {
    width: 70px;
    height: 60px;
    top: 50%;
    left: 120px;
    margin: -30px 0 0;
}

.but .tag, .but .pretag {
    position: absolute;
    display: block;
    z-index: 1;
    text-indent: -9999px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}


#downNav .dndlbut .pretag {
    background-position: -97px 0;
}

#downNav .dnguide {
    margin-right: 15px;
}

#downNav .smbut{
    width: 240px;
    height: 90px;
    line-height: 90px;
    background-color: #2c2c2c;
    font-size: 22px;
    margin: 15px 0 0;
}

#downNav .smbut:hover {
    background-color: #3c3c3c;
}

#downNav .smbut .clk {
    color: #cdcdcd;
}
#downNav .dnguide {
    margin-right: 15px;
}

#downNav .dnevent {
    margin-right: 10px;
}

#downNav .dnbackground {
    margin-right: 15px;
}
#downNav .dnsiteweb {
    margin-right: 0;
}

#footer_ied{
  position:relative;
  color: #4f4f4f;
  font-size: 12px;
  padding: 30px 5%;
  text-align: center;
  z-index:10;
  background: #202020;
}

#footer_ied a{
    color: #4f4f4f;
}

element.style {
    position: absolute;
    right: -500px;
}

.ost_bp {
    position: fixed!important;
    _position: absolute!important;
    bottom: 0!important;
    right: 0!important;
    z-index: 1000;
}

.ost_bg {
    background: url(images/ost-bg.png) no-repeat;
}
.ost_cnr {
    display: block;
    width: 105px;
    height: 53px;
    background-position:0 -160px;
}

.ost_hdn {
    text-indent: -500px;
    overflow: hidden;
}

.summarize {
  width: 1000px;
    height: 400px;
    
}

.summarize li img{
  float:left;
}
#cebian{
	position: fixed;
    bottom:200px;
    right:-130px;
    z-index: 1000;
}
#cebian>div.ce{
	width:130px;
	height:52px;
	padding:10px 0 8px;
	background:#2fc3a3;
	overflow: hidden;
}
#cebian>div.ce p{
	color:#fff;
	text-align:center;
}
#cebian>span{
	display: block;
	width:122px;
	height:122px;
    background: #fff;
    padding:4px;
	margin-bottom:5px;
}
#cebian h3{
	background:#2C2C2C;
	border-bottom:1px solid #666;
	overflow:hidden;
}
#cebian>h3 a{
	display: block;
	width:130px;
	height:36px;
	color:#c2c2c2;
	font-size:14px;
	text-align:center;
	line-height:36px;
	z-index:1000px;
}
 @-webkit-keyframes leftbian {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}
.btn-1 {
  position: relative;
  color: #9248bc;
}
.btn-1:before, .btn-11:after {
  position: absolute;
  top: 50%;
  content: '';
  width: 20px;
  height: 20px;
  background:#fff;
  opacity:0.3;
  border-radius: 50%;
}
.btn-1:before {
  left: -20px;
  -webkit-transform: translate(-50%, -50%);
}
.btn-1:after {
  right: -20px;
  -webkit-transform: translate(50%, -50%);
}
.btn-1:hover:before {
  -webkit-animation: leftbian 0.8s both;
}
#cebian>h4{
	position:relative;
	line-height:36px;
	display: block;
	width:130px;
	height:36px;
    background:#2fc3a3;
}
#cebian>h4 a span{
	display: block;
	width:110px;
	height:36px;
	text-align:right;
}
#cebian>h4.zai{
	background:#C4974E;
}
#cebian>h4 i{
	position:absolute;
	top:6px;
	left:20px;
	display: block;
	width:24px;
	height:24px;
	background:url("Images/spr-c.png") no-repeat 0 -83px;
	z-index:1000;
}
#cebian>h4.zai i{
	background-position:-95px -83px;
}
#cebian>h4 a:hover i{
	background:url("Images/spr-c.png") no-repeat 0 -132px;
}
#cebian>h4.zai a:hover i{
	background:url("Images/spr-c.png") no-repeat -95px -132px;
}
#cebian>a{
	position:absolute;
	left:43px;
	bottom:-50px;
	display: block;
	width:45px;
	height:45px;
	background:url("Images/spr-c.png") no-repeat 0 -230px;
}
#cebian>p{
	position:absolute;
	left:-20px;
	top:0px;
	z-index:1000;
}
#cebian>p a{
	display: block;
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
	background:#2C2C2C;
	color:#999;
}
